<div class="container">
    <div class="spacer-40"></div>
  
    <div class="index__heading-wrapper">
    <h1>All articles</h1>
    <%= link_to 'Create a new article', new_article_path(@article), class: 'btn btn-primary' %>
    
    
    </div>
    <div class="spacer-40"></div>


    <table class="table" >

        <thead class="table-light" style ="text-align:center">
            <th>Title</th>
            <th>Description</th>
            <th colspan="3">Actions</th>
            
        </thead>

        <tbody>
            <% @articles.sort{|a,b| b <=> a}.each do |article| %>
                <tr>
                    <td>
                        <h5>
                            <%= article.title %>
                        </h5>

                    </td>
                    <td>
                        <%= article.description %>
                    </td>
                    <td>
                        <%= link_to "Read", article, class: 'btn btn-outline-primary' %>
                        
                    </td>
                    
                    <td>
                        
                        <%= link_to 'Edit', edit_article_path(article), class: 'btn btn-outline-warning' %>
                    </td>

                    <td>
                        
                        <%= button_to "Delete", article_path(article), method: :delete, class: 'btn btn-outline-danger' %>
                    </td>




                </tr>
            <% end %>

        </tbody>
    </table>

    
</div>
