<div class="container">
    <div class="spacer-40"></div>

    <%= notice %>


    <h1>
        <%= @article.title%>
    </h1>
    <div class="spacer-20"></div>
    <p>
        <%= @article.description%>
    </p>

    <div class="spacer-20"></div>

    <div class="btn__flex-wrapper">
    <%= link_to 'Edit article', edit_article_path(@article), class: 'btn btn-warning' %>
     <%= button_to 'Delete', article_path(@article), method: :delete, onclick: "return confirm('Do you really want to delete this article?')", class: "btn btn-danger" %>
    </div>

    <div class="spacer-20"></div>
    <%= link_to 'See articles', articles_path %>


</div>
