<div class="container">


    <%= notice %>


    <h1>
        <%= @article.title%>
    </h1>
    <p>
        <%= @article.description%>
    </p>

    <%= link_to 'Edit this article', edit_article_path(@article) %>
    <%= link_to 'See articles', articles_path %>


</div>
